name: Docker Compose Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build Docker images
      run: |
              docker login -u huybt2 -p ${{secrets.GH_PAT}}
              docker-compose -f docker-compose-build.yaml build
              docker tag udagram-frontend:local huybt2/udagram-frontend:v9
              docker tag udagram-api-feed huybt2/udagram-api-feed:v9
              docker tag udagram-api-user huybt2/udagram-api-user:v9
              docker tag reverseproxy huybt2/reverseproxy:v9
              docker push huybt2/udagram-frontend:v9
              docker push huybt2/udagram-api-feed:v9
              docker push huybt2/udagram-api-user:v9
              docker push huybt2/reverseproxy:v9
      
  
